/* The about component */

.about {
  padding: 70px 0;
  text-align: center;
  background-color: rgb(228, 228, 228);
  opacity: 0.99;
}

.about_experience {
  margin: 40px 0;
}

.bio-container {
  width: 80%;
  margin: 40px auto 0px auto;
}

.bio-paragraph {
  text-align: center;
  margin: 20px auto;
  width: 300px;
}

.about_previous-work,
.about_education {
  width: 300px;
  margin: 20px auto 0px auto;
}

.about_job-card,
.about_education-card {
  margin: 25px;
}

.education-card_years,
.job-card_years,
.education-card_description,
.job-card_description {
  font-size: 11px;
  opacity: 0.9;
}

.about_skills {
  width: 90%;
  margin: 40px auto 0px auto;
}

.skills-list {
  margin: 20px auto 0px auto;
}

@media only screen and (min-width: 600px) {
  .bio-paragraph {
    width: 80%;
  }

  .about_experience {
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    text-align: left;
  }

  .about_previous-work,
  .about_education {
    width: 400px;
    margin: 20px auto 0px auto;
  }

  .about_job-card,
  .about_education-card {
    margin: 20px 0 0 5px;
  }

  .education-card_years,
  .job-card_years,
  .education-card_description,
  .job-card_description {
    font-size: 15px;
    opacity: 0.9;
  }
}
