/* The about component */

.about {
  padding: 70px 0;
  text-align: center;
}

.skills {
  padding: 70px 0;
  text-align: center;
}

.about_experience {
  margin: 40px 0;
}

.bio-container {
  width: 80%;
  margin: 40px auto 0px auto;
}

.bio-paragraph {
  text-align: center;
  margin: 20px auto;
  width: 300px;
}

.about_previous-work,
.about_education {
  width: 300px;
  margin: 20px auto 0px auto;
}

.skill-card-wrapper {
  text-align: center;
  display: flex;
  flex-direction: column;
  height: auto;
  align-items: center;
  flex-wrap: wrap;
}

.about_job-card,
.about_education-card,
.skill-card {
  text-align: left;
  background-color: rgb(255, 255, 255);
  border: solid 1px rgb(0, 0, 0, 0.3);
  border-radius: 16px;
  width: 100%;
  margin: 10px auto;
  padding: 15px 0;
}

.skill-card {
  text-align: center;
  padding: 15px;
  width: 50%;
}

.title-wrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}

.education-card_full-school {
  margin-bottom: 4px;
  margin-left: 7px;
  font-size: 11px;
  font-style: italic;
}

.job-card_employer,
.education-card_school {
  margin-left: 15px;
}
.education-card_education,
.education-card_years,
.job-card_position,
.job-card_years {
  margin-left: 15px;
}

.education-card_years,
.job-card_years,
.education-card_description,
.job-card_description,
.skill-card_description {
  font-size: 11px;
  /* opacity: 0.9; */
}

.skill-card_description {
  margin-left: 10px;
}

.skill-element {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
  margin-top: 10px;
}

.skill-card_img {
  height: auto;
  width: 30px;
  margin: 0;
}

.about_skills {
  width: 90%;
  margin: 40px auto 0px auto;
}

.skills-list {
  margin: 20px auto 0px auto;
}

@media only screen and (min-width: 600px) {
  .bio-paragraph {
    width: 80%;
  }

  .about_experience,
  .bio_container {
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    text-align: left;
  }

  .previout-work-header,
  .education-header {
    margin-left: 20px;
  }

  .about_previous-work,
  .about_education {
    width: 400px;
    margin: 20px auto 0px auto;
    padding: 10px;
  }

  .skill-card-wrapper {
    text-align: center;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .about-skills {
    width: 80%;
  }

  .about_job-card,
  .about_education-card,
  .skill-card {
    margin: 20px 0 0 5px;
    border-radius: 16px;
  }

  .skill-card {
    padding: 15px;
    width: 25%;
    min-width: 250px;
  }

  .education-card_education,
  .job-card_position {
    font-size: 18px;
  }

  .education-card_full-school {
    margin-bottom: 7px;
    margin-left: 10px;
    font-size: 15px;
    font-style: italic;
  }

  .education-card_years,
  .job-card_years,
  .education-card_description,
  .job-card_description,
  .skill-card_description {
    font-size: 15px;
  }

  .skill-card_img {
    height: auto;
    width: 50px;
    margin: 0;
  }
}
