/* The about component */

.about {
  padding: 70px 0;
  text-align: center;
  /* opacity: 0.99; */
}

.about_experience {
  margin: 40px 0;
}

.bio-container {
  width: 80%;
  margin: 40px auto 0px auto;
}

.bio-paragraph {
  text-align: center;
  margin: 20px auto;
  width: 300px;
}

.about_previous-work,
.about_education {
  width: 300px;
  margin: 20px auto 0px auto;
}

.about_job-card,
.about_education-card {
  text-align: left;
  background-color: #fff;
  border-radius: 16px;
  padding: 15px;
  width: 100%;
  margin: 10px auto;
}

.title-wrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}

.education-card_full-school {
  margin-bottom: 4px;
  margin-left: 7px;
  font-size: 11px;
  font-style: italic;
}

.education-card_years,
.job-card_years,
.education-card_description,
.job-card_description {
  font-size: 11px;
  /* opacity: 0.9; */
}

.about_skills {
  width: 90%;
  margin: 40px auto 0px auto;
}

.skills-list {
  margin: 20px auto 0px auto;
}

@media only screen and (min-width: 600px) {
  .bio-paragraph {
    width: 80%;
  }

  .about_experience,
  .bio_container {
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    text-align: left;
  }

  .previout-work-header,
  .education-header {
    margin-left: 20px;
  }

  .about_previous-work,
  .about_education {
    width: 400px;
    margin: 20px auto 0px auto;
    padding: 10px;
  }

  .about_job-card,
  .about_education-card {
    margin: 20px 0 0 5px;
    background-color: #fff;
    border-radius: 16px;
    padding: 15px;
  }

  .education-card_education,
  .job-card_position {
    font-size: 18px;
  }

  .education-card_full-school {
    margin-bottom: 7px;
    margin-left: 10px;
    font-size: 15px;
    font-style: italic;
  }

  .education-card_years,
  .job-card_years,
  .education-card_description,
  .job-card_description {
    font-size: 15px;
    /* opacity: 0.9; */
  }
}
