.home {
  background-color: rgb(37, 41, 52);
  color: rgb(240, 239, 239);
  height: 100vh;
  text-align: center;
  padding-top: 150px;
}

.home_content-container {
  display: inline-block;
  width: 90%;
  text-align: left;
  margin: auto;
}

.home_link {
  padding: 3px 6px;
  color: rgb(37, 41, 52);
  background-color: rgba(179, 197, 162, 0.8);
  border-radius: 16px;
}

.home_link:active {
  font-weight: 200;
  padding: 3px 6px;
  color: rgb(37, 41, 52);
  background-color: rgb(206, 212, 200);
  border-radius: 16px;
  font-size: 15px;
}

@media only screen and (min-width: 600px) {
  .home_link:hover {
    font-size: 30px;
    font-weight: 500;
    color: white;
    background-color: rgb(37, 41, 52);
    cursor: pointer;
    text-decoration: none;
  }

  .home_link:active {
    font-weight: 200;
    padding: 3px 6px;
    color: white;
    background-color: rgb(37, 41, 52);
    border-radius: 16px;
    font-size: 25px;
  }

  .home_link {
    font-size: 25px;
    transition: font-size 0.1s, font-weight 0.1s, text-decoration 0.1s,
      background-color 0.3s;
  }
}
