.test {
  background-color: rgb(183, 233, 183);
}
.home {
  background-color: rgb(126, 147, 138);
  color: rgb(0, 0, 0, 0.7);
  height: 100vh;
  text-align: center;
  padding-top: 150px;
}

.home_content-container {
  display: inline-block;
  width: 90%;
  text-align: left;
  margin: auto;
}

.home_link {
  padding: 3px 6px;
  color: rgb(0, 0, 0, 0.7);
  background-color: rgba(182, 233, 167, 0.7);
  border-radius: 16px;
}

.home_link:active {
  font-weight: 200;
  padding: 3px 6px;
  color: rgb(0, 0, 0, 0.7);
  background-color: rgba(182, 233, 167, 0.4);
  border-radius: 16px;
  font-size: 15px;
}

@media only screen and (min-width: 600px) {
  .home_link:hover {
    font-size: 30px;
    font-weight: 500;
    color: rgb(0, 0, 0, 0.7);
    background-color: white;
    cursor: pointer;
    text-decoration: none;
  }

  .home_link:active {
    font-weight: 200;
    padding: 3px 6px;
    color: rgb(0, 0, 0, 0.7);
    background-color: rgba(182, 233, 167, 0.4);
    border-radius: 16px;
    font-size: 25px;
  }

  .home_link {
    font-size: 25px;
    transition: font-size 0.1s, font-weight 0.1s, text-decoration 0.1s,
      background-color 0.3s;
  }
}
