.navbar-wrapper {
  position: relative;
  height: 50px;
  text-align: center;
  z-index: 2;
}

.sticky .navbar-inner {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
}

.navbar-inner {
  text-align: center;
  padding: 10px;
  background-color: white;
  transition: height 0.2s, opacity 0.2s;
  background-color: rgb(37, 41, 52);
}

.navbar-link-active {
  color: white;
  margin: auto 10px;
}

@media only screen and (min-width: 600px) {
  .navbar-link-active {
    margin: 0 10px;
    transition: opacity 0.2s, font-size 0.2s;
    font-size: 15px;
    cursor: pointer;
  }

  .navbar-link-disabled {
    pointer-events: none;
    cursor: not-allowed;
  }

  .navbar-link-active:hover {
    font-size: 16px;
    cursor: pointer;
  }
}
